.page {
  height: 100%;
}
.default {
  height: 100px;
}
.red {
  background: red;
}
.green {
  background: green;
}
.yellow {
  background: yellow;
}
.gray {
  background: gray;
}

@media screen and (min-width: 480px) {
  .red {
    background: black;
  }
}
